@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merienda&family=Noto+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  color: #222;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}
